@*@model PhotoManager.Models.Photo*@


@using (Ajax.BeginForm("PhotoAdvancedSearch", new AjaxOptions { UpdateTargetId = "photoList" }))
{
    @Html.AntiForgeryToken()
    <div class="input-group" id="advancedSearch">
        <input type="text" class="form-control" name="keywords" placeholder="Search" />
        <div class="input-group-btn">
            <div class="btn-group" role="group">
                <div class="dropdown dropdown-lg">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="filter">Search by</label>
                                <select class="btn btn-default dropdown form-control" id="advancedSearchType">
                                    <option value="all" selected>All</option>
                                    <option value="camera">Camera</option>
                                    <option value="lens">Lens</option>
                                    <option value="iso">ISO</option>
                                    <option value="diapragm">Diaphragm</option>
                                    <option value="shutterspeed">ShutterSpeed</option>
                                    <option value="keywords">Keywords</option>
                                </select>
                            </div>
                            <div class="form-group search-type" id="camera">
                                <label for="contain">Camera</label>
                                @Html.DropDownList("CameraId", ViewBag.Cameras as SelectList, new { @class = "btn btn-default dropdown form-control" })
                            </div>
                            <div class="form-group search-type" id="lens">
                                <label for="contain">Lens</label>
                                @Html.DropDownList("LensId", ViewBag.Lenses as SelectList, new { @class = "btn btn-default dropdown form-control" })
                            </div>
                            <div class="form-group search-type" id="iso">
                                <label for="contain">ISO</label>
                                @Html.DropDownList("ISO", ViewBag.ISO as SelectList, new { @class = "btn btn-default dropdown form-control" })
                            </div>
                            <div class="form-group search-type" id="diapragm">
                                <label for="contain">Diaphragm</label>
                                @Html.DropDownList("Diaphragm", ViewBag.Diaphragm as SelectList, new { @class = "btn btn-default dropdown form-control" })
                            </div>
                            <div class="form-group search-type" id="keywords">
                                <label for="contain">Keywords</label>
                                <input class="form-control" type="text" />
                            </div>
                            <button type="submit" class="btn btn-primary form-control"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </form>
                    </div>
                </div>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
}