@using PhotoManager.ViewModel

@{
    List<AlbumAssignedPhotosViewModel> albumsAssignedPhoto = ViewBag.AlbumsAssignedList;
}

<div class="row">

    <div class="col-md-6 list-group form-group">
        <h4>Albums with this photo</h4>
        @foreach (var album in albumsAssignedPhoto)
        {
            if (@album.AlbumAssigned)
            {
                <div class="list-group-item list-group-item-success form-control" id="@album.AlbumID">
                    <span class="glyphicon glyphicon-remove"></span>
                    @album.AlbumTitle
                </div>
            }
        }
    </div>

    <div class="col-md-6 list-group form-group">
        <h4>Add photo to albums</h4>
        @foreach (var album in albumsAssignedPhoto)
        {
            if (!@album.AlbumAssigned)
            {
                <div class="list-group-item form-control" id="@album.AlbumID">
                    <span class="glyphicon glyphicon-plus"></span>
                    @album.AlbumTitle
                </div>
            }
        }
    </div>

</div>
<input type="submit" id="updateAlbumsToPhoto" value="Update albums" class="btn btn-primary" />


