@model IEnumerable<PhotoManager.Models.Photo>

@{
    ViewBag.Title = "My Photos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>My photos</h2>
<div class="row form-inline">
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="...">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Keywords</a></li>
                    <li><a href="#">Camera Model</a></li>
                    <li><a href="#">Lens Model</a></li>
                    <li><a href="#">ISO</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        @Html.ActionLink("Upload new photo", "Create", null, new { @class = "btn btn-primary" })

    </div>
</div>

<hr>

<div class="jumbotron">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                <div class="thumbnail">
                    <a href="@Url.Action("Details", "Photos", new {id = item.ID})">
                        <img class="img-responsive" src="@Url.Content(item.PhotoUrl)" style="height:200px">
                    </a>
                    <div style="font-size:12px">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.Label("EXIF")
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.CameraModel.CameraModel)
                                @Html.DisplayFor(modelItem => item.LensModel.LensModel)
                                @Html.DisplayFor(modelItem => item.Diaphragm)
                                @Html.DisplayFor(modelItem => item.ShutterSpeed)
                                @Html.DisplayFor(modelItem => item.ISO)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Location)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.Location)
                            </dd>
                        </dl>
                        <div>
                            @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" }) |
                            @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-remove" }) |
                            <i class='glyphicon glyphicon-plus'></i>
                            @Html.ActionLink("Add to Album", "Details", new { id = item.ID }, new { @class = "btn btn-sm btn-default" })
                            @*<i class='glyphicon glyphicon-plus'></i>
            <button type="button" id="addPhoto" class="btn btn-sm btn-default" data-toggle="popover" title="Add Photo to Album" data-content="">Add to album</button>*@
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
        //    $('[data-toggle="popover"]').popover();
        //    $("#addPhoto").attr("data-content", getData()).popover();

        //    function getData() {
        //        return "Here will be some ajax magic";
        //    }
        //});

    </script>
}

@*<script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
    <script>
        $(document).ready(function () {

            $.ajaxSetup({ cache: false });

            $(".viewDialog").onclick(function (e) {
                e.preventDefault();
                alert("test");
                $("<div></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .dialog({
                        title: $(this).attr("data-dialog-title"),
                         close: function () { $(this).remove() },
                        modal: true
                    })
                    .load(this.href);
            });
        });
    </script>*@
