@model IEnumerable<PhotoManager.Models.Album>
@using PhotoManager.Models
@{
    ViewBag.Title = "Home Page";
}


<div class="row form-inline">
    <div class="col-md-4">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            @Html.TextBox("searchString", ViewBag.SearchString as string, new { @class = "form-control", placeholder = "Search for..." })
            <input type="submit" value="Search" class="form-control btn btn-default" />
        }
    </div>
    <div class="col-lg-8 btn-group">

        @Ajax.ActionLink("Landscape", "SortByAlbumCategory", new { albumCategory = AlbumCategory.Landscape }, new AjaxOptions { UpdateTargetId = "albumPublicList" }, new { @class = "form-control btn btn-primary" })
        @*@Html.ActionLink("Lovestory", "Index", "Home", new { albumCategory = AlbumCategory.LoveStory }, new { @class = "form-control btn btn-primary" })
        @Html.ActionLink("Wedding", "Index", "Home", new { albumCategory = AlbumCategory.Wedding }, new { @class = "form-control btn btn-primary" })
        @Html.ActionLink("Portrait", "Index", "Home", new { albumCategory = AlbumCategory.Portrait }, new { @class = "form-control btn btn-primary" })
        @Html.ActionLink("All", "Index", "Home", null, new { @class = "form-control btn btn-primary" })*@
    </div>
</div>
<hr>
<div class="container" id="albumPublicList">
    @Html.Partial("_PublicAlbumsList")
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryajax")
}

