@model IEnumerable<PhotoManager.Models.Album>
@using PhotoManager.Models
@{
    ViewBag.Title = "Home Page";
}


<div class="row form-inline">
    <div class="col-md-4">
        @Html.Partial("_AlbumSearch")
    </div>
    <div class="col-lg-8 btn-group">

        @Ajax.ActionLink("Landscape", "SortByAlbumCategory", new { albumCategory = AlbumCategory.Landscape }, new AjaxOptions { UpdateTargetId = "albumList" }, new { @class = "form-control btn btn-primary" })
        @Ajax.ActionLink("Lovestory", "SortByAlbumCategory", new { albumCategory = AlbumCategory.LoveStory }, new AjaxOptions { UpdateTargetId = "albumList" }, new { @class = "form-control btn btn-primary" })
        @Ajax.ActionLink("Wedding", "SortByAlbumCategory", new { albumCategory = AlbumCategory.Wedding }, new AjaxOptions { UpdateTargetId = "albumList" }, new { @class = "form-control btn btn-primary" })
        @Ajax.ActionLink("Portrait", "SortByAlbumCategory", new { albumCategory = AlbumCategory.Portrait }, new AjaxOptions { UpdateTargetId = "albumList" }, new { @class = "form-control btn btn-primary" })
        @Ajax.ActionLink("All", "SortByAlbumCategory",null, new AjaxOptions { UpdateTargetId = "albumPublicList" }, new { @class = "form-control btn btn-primary" })
    </div>
</div>
<hr>
<div class="container" id="albumList">
    @Html.Partial("_PublicAlbumsList")
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryajax")
}

