@model PhotoManager.Models.Album
@using PhotoManager.Helpers.Url

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row ">
    <div class="col-md-6">
        <h4> @Html.DisplayFor(model => model.Title)</h4>
    </div>

    <div class="col-md-6">
        @*<a href="@Url.PublicAlbumUrl(Model.Title)" title="">Get album link</a>*@

        @Html.ActionLink("Get album link", "ShowAlbum", "Albums", new { title = Model.Title }, new { @class = "btn btn-primary", target = "_blank" })
        @Html.ActionLink("Edit album", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
    </div>

</div>
<hr>
<div class="jumbotron">
    <div class="container">
        <div class="row" id="album-photos">
            @if (Model.Photos.Count != 0)
            {
                foreach (var photo in Model.Photos)
                {
                    @*<a href="#" data-toggle="modal" data-image="@Url.Content(photo.PhotoUrl)" data-target="#photo-gallary">*@
                    <a href="@Url.Action("ShowPhotoInAlbum", "Albums", new { photos = Model.Photos})" data-target="#photo-carousel" data-toggle="modal">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 thumbnail">
                            <img class="img-responsive" src="@Url.Content(photo.PhotoUrl)" title="@photo.PhotoName" style="height:250px">
                        </div>
                    </a>
                }
            }

        </div>
    </div>
</div>

<div class="">
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
    </dl>

</div>

<div>

</div>
<hr>
@Html.ActionLink("Back to Albums", "Index")

<!---modal dialog for view photos in carousel-->
<div id="photo-carousel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        $(function () {

            $(".carousel").carousel();

            $("#modal-carousel").on('slid.bs.carousel', function () {
                console.log("click on btn");
                var photosInCarousel = $(".item");
                console.log(photosInCarousel);
                var active = $(".item.active");
                console.log(active);

            });

            //$("#photo-carousel").modal("show");
        });

                            //$("#modal-carousel").carousel({ interval: false });

                            //$("#modal-carousel").on("slid.bs.carousel", function () {
                            //    alert("click on prev");
                            //});



                    /* activate the carousel */
                    //$("#modal-carousel").carousel({interval:false});

                    ///* change modal title when slide changes */
                    //$("#modal-carousel").on("slid.bs.carousel",       function () {
                    //$(".modal-title")
                    //.html($(this)
                    //.find(".active img")
                    //.attr("title"));
                    //});

                    ///* when clicking a thumbnail */
                    //$(".row ").click(function(){
                    //var content = $(".carousel-inner");
                    //var title = $(".modal-title");

                    //content.empty();
                    //title.empty();

                    //var id = this.id;
                    //var repo = $("#album-photos .img-responsive");
                    //var repoCopy = repo.filter("#" + id).clone();
                    //var active = repoCopy.first();

                    //active.addClass("active");
                    //title.html(active.find("img").attr("title"));
                    //content.append(repoCopy);

                    //// show the modal
                    //$("#modal-gallery").modal("show");
                    //});
    </script>
}