@model PhotoManager.Models.Album

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["albumID"] = Model.ID;
}

<h2>Edit album @Model.Title</h2>
<hr>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6" id="photosList">

            @Html.Partial("_PhotoAssignedToAlbums")
        </div>
        <div class="col-lg-6 col-md-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AlbumType, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EnumDropDownListFor(model => model.AlbumType, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AlbumType, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>





<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")
    <script type="text/javascript">
        $(function () {

            $(".thumbnail").click(function (e) {
                e.preventDefault();
                console.log(e);
                console.log("btn click");
                var checkbox = $(this).children('input[type="checkbox"]');
                checkbox.prop('checked', !checkbox.prop('checked'));
            });

            @*var albumId = @Model.ID;
            var selectedPhotosTemp = new Array();
            $("div .bg-white").click(function () {
                console.log(this);
                $(this).toggleClass("bg-info");
                //to-do: check if click more then one time
                selectedPhotosTemp.push(this.id);
                console.log(selectedPhotosTemp);

            //  //  $("#selectedAlbums").val(selectedAlbums);
            //  //  alert($("#selectedAlbums").val());
            });



            $("#updatePhotosToAlbum").click(function (e) {
                e.preventDefault();

                console.log("btn click");
                $.post('/Albums/UpdatePhotosInAlbum', { id: albumId, selectedPhotos: selectedPhotosTemp }, function (data) {
                    console.log(data);
                    $("#photosList").html(data);
                });*@
             //   $("#testdiv").load('/Photos/AddPhotoToAlbum', { id: photoId, selectedAlbums: selectedAlbumsTemp });

             //     //  $("#testdiv").empty();
             //     //  $("#testdiv").html(data);
             ////   });
             //      // alert(data);

           // });


        });

    </script>
    }




