@using PhotoManager.ViewModel

@{
    List<PhotoAssignedAlbumsViewModel> photosAssignedAlbum = ViewBag.PhotosAssignedList;
}

    <div class="row">
        <h4>Photos in album</h4>
        @foreach (var photo in photosAssignedAlbum)
        {
            if (@photo.PhotoAssigned)
            {
                <div class="col-md-3 bg-white" id="@photo.PhotoID">
                    @*<div class="thumbwhitenail" id="@photo.PhotoID" style="background-image:url(@Url.Content(photo.PhotoUrl)); height:150px; background-repeat:inherit">*@
                        <span class="glyphicon glyphicon-remove"></span>
                        <img class="img-responsive" src="@Url.Content(photo.PhotoUrl)" style="height:100px">
                 </div>
            }
        }
    </div>
    <hr>
    <div class="row">
        <h4>Photos</h4>
        @foreach (var photo in photosAssignedAlbum)
        {
            if (!@photo.PhotoAssigned)
            {
                <div class="col-md-3 bg-white" id="@photo.PhotoID">
                    @*<div class="thumbwhitenail" id="@photo.PhotoID" style="background-image:url(@Url.Content(photo.PhotoUrl)); height:150px; background-repeat:inherit">*@
                    <span class="glyphicon glyphicon-plus"></span>
                    <img class="img-responsive" src="@Url.Content(photo.PhotoUrl)" style="height:100px">
                </div>
            }
        }
    </div>
    <hr>
    <input type="submit" id="updatePhotosToAlbum" value="Update photos" class="btn btn-primary" />
