@model PhotoManager.Models.Album

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row ">
    <div class="col-md-6">
        <h4> @Html.DisplayFor(model => model.Title)</h4>
    </div>
</div>
<hr />
<div class="jumbotron">
    <div class="container">
        <div class="row" id="album-photos">
            @if (Model.Photos.Count != 0)
            {
                foreach (var photo in Model.Photos)
                {
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 thumbnail">
                        <img class="img-responsive" src="@Url.Content(photo.PhotoUrl)" title="@photo.PhotoName" style="height:250px" id="@photo.ID" data-target="#photo-carousel" data-toggle="modal">
                    </div>
                    @*</a>*@
                }
            }

        </div>
    </div>
</div>

<div class="" id="photosModalShow">
    @Html.Partial("_AlbumPhotoCarousel")
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {

            $("#modal-carousel").carousel('pause');

            $(".row .img-responsive").click(function () {
                console.log(this);
                $("[id^=modal_]").removeClass("active");
                $("#modal_" + this.id).addClass("active");
            });

        });

    </script>
}